# -----------------------------------------------------------------------------
# establish a safe computing environment
# -----------------------------------------------------------------------------

ignored={"Icon?",".DS_Store"}

# prompt before removing files via rm
alias rm="rm -i"
# prompt before overwriting files via cp
alias cp="cp -i"
# prompt before overwriting files via mv
alias mv="mv -i"

# -----------------------------------------------------------------------------
# handle ls
# use gls if present, add useful aliases:
# - lsn
# - l
# - ll
# -----------------------------------------------------------------------------

if [ -x /usr/local/bin/gdircolors ]; then
    test -r ~/.dircolors && eval "$(gdircolors -b ~/.dircolors)" || eval "$(gdircolors -b)"

    # -a = do not ignore entries starting with .
    # --color[=WHEN] = colorize the output; WHEN can be:
    #                   'always' (default if omitted), 
    #                   'auto', or 
    #                   'never'
    alias ls="gls -a --color=auto --quoting-style=literal --ignore=$ignored"
    alias dir='gdir --color=auto'
    alias vdir='gvdir --color=auto'

    # alias grep='grep --color=auto'
    # alias fgrep='fgrep --color=auto'
    # alias egrep='egrep --color=auto'
else
    # -a = Include directory entries whose names begin with a dot (.).
    # -G = Enable colorized output. This option is equivalent to defining
    #      CLICOLOR in the environment. (See below.)
	alias ls="ls -aG" #--color=tty"
fi

# -L = when showing file information for a symbolic link, show information for
# the file the link references rather than for the link itself
alias lsn='ls -L'

# -l = use a long listing format
# -L = follow symbolic links (see above)
# -h = with -l and -s, print sizes like 1K 234M 2G etc.
# formatting file timestamps:
# https://www.gnu.org/software/coreutils/manual/html_node/Formatting-file-timestamps.html
alias l='ls -lLh --time-style="+%d %b %Y %H:%M"'

# -l = use a long listing format
# -h = human-readable (see above)
# -F = append indicator (one of */=>@|) to entries
#      '*' after executables
#      '/' after directories
#      '=' after sockets
#      '@' after symbolic links
#      '|' after FIFO
#      '%' after whiteouts (?)
alias ll="ls -lhF"

# -----------------------------------------------------------------------------
# utilities
# -----------------------------------------------------------------------------

# stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# ring the terminal bell, and put a badge on Terminal.app’s dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# -----------------------------------------------------------------------------
# miscellaneous
# -----------------------------------------------------------------------------

# force emacs to open non-interactively
alias emacs="emacs -nw"

# alias date="date +'%a, %d %b %Y %T %Z' | perl -ne 'print lc'"
alias date="gdate -R"

# K4XML script
alias k4="/usr/bin/env osascript /Users/$USER/Dropbox/work/the-new-yorker/github/tny-automation-scripts/K4XML/K4_XML_CC14.applescript"

# validate an XML file
alias validate="/usr/bin/xmllint --schema /Users/$USER/Dropbox/work/the-new-yorker/github/tny-automation-scripts/XML\ Scripts/tny-schema.xsd --noout"

# mount TNY servers
alias mnt="/Users/$USER/Library/LaunchAgents/mount-servers.js"

# quick look a file
alias qlf='qlmanage -p "$@" &> /dev/null'
