# ---------------------------------------
# establish a safe computing environment
# ---------------------------------------

# prompt before removing files via rm
alias rm="rm -i"
# prompt before overwriting files via cp
alias cp="cp -i"
# prompt before overwriting files via mv
alias mv="mv -i"


# -----------------------------
# enable color support of ls and 
# also add handy aliases
# -----------------------------
if [ -x /usr/local/bin/gdircolors ]; then
    test -r ~/.dircolors && eval "$(gdircolors -b ~/.dircolors)" || eval "$(gdircolors -b)"
    # show all
	# use colorised output
	# formatting file timestamps:
	# https://www.gnu.org/software/coreutils/manual/html_node/Formatting-file-timestamps.html
    alias ls='gls -a --color=auto --quoting-style=literal'
    alias dir='gdir --color=auto'
    alias vdir='gvdir --color=auto'

    # alias grep='grep --color=auto'
    # alias fgrep='fgrep --color=auto'
    # alias egrep='egrep --color=auto'
else
	# long format
	# follow symbolic links
	# use unit suffixes: B, K, M, G, T
	alias ls="ls -aG" #--color=tty"
fi

# -----------------
# ls is important
# -----------------

alias lsn='ls -L'

# long format
# follow symbolic links
# use unit suffixes: B, K, M, G, T
alias l='ls -lLh --time-style="+%d %b %Y %H:%M"'

# long format
# '/' after directories
# '*' after executables
# '@' after symbolic links
# '=' after sockets
# '%' after whiteouts
# '|' after FIFO
# use unit suffixes
alias ll="ls -lFh"

# ----------------
# utilities
# ----------------

# stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# ring the terminal bell, and put a badge on Terminal.app’s dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# ------------------
# miscellaneous
# ------------------

# force emacs to open non-interactively
alias emacs="emacs -nw"

# alias date="date +'%a, %d %b %Y %T %Z' | perl -ne 'print lc'"
alias date="gdate -R"

alias k4="/usr/bin/env osascript /Users/$USER/Dropbox/work/the-new-yorker/github/tny-automation-scripts/K4XML/K4_XML_CC14.applescript"
